#traffic1 {
  height: 80vh;
  width: 120px;
  margin: 0 auto;
  background-color: green;
}

#traffic2 {
  background-color: red;
  height: 120px;
  width: 80vh;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 1;
}

@keyframes fl {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fl {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flashing {
  animation: fl 1s linear infinite;
}