* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mypage {
    width: 60%;
    margin: 100px;
}
.pageBox {
    width: 100%;
    height: 40px;
    display: flex;
}
.pageBox > li {
    margin: 0 5px;
    text-align: center;
    width: 40px;
    cursor: pointer;
    user-select: none;
    line-height: 40px;
    border-radius: 3px;
    background-color: cornflowerblue;
}
.pageBox :first-child,
.pageBox :last-child {
    background-color: darkgrey;
    width: 100px;
}
.pageBox :first-child:hover,
.pageBox :last-child:hover {
    background-color: darkorange;
}
.select {
    box-sizing: border-box;
    border: 2px solid grey;
    line-height: 36px !important;
    background-color: darkseagreen !important;
}
